<div id="<%= dom_id painting %>">
  <p>
    <strong>Title:</strong>
    <%= painting.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= painting.description %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(painting.price) %>
  </p>
  <p>
    <%= link_to image_tag(painting.image_url(:thumb)), painting %>
  </p>
  <% if painting_author(painting) %>
    <div class="d-flex mt-3">
      <%= link_to 'Edit', edit_painting_path(painting), class: "btn btn-outline-warning btn-sm me-1" %>
      <%= button_to "Delete", painting, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class:'btn btn-outline-danger btn-sm' %>
    </div>
  <% end %>
</div>
